body{
    cursor: crosshair;
    height: 500px;
    background-image: url(./background\ 1.jpg);
}
    
#top{
    height: 90px; width: 1320px;
    background-color: black;
    border: 20px;
    border-style: solid;
    border-width: 6px;
    border-color: rgb(221, 221, 238); 
    display: flex;
}
.name{
    padding-left: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    color: rgb(236, 225, 225);
}
.topimg{ 
    padding-left: 25px;
    
}
.left{
    
    background-color: white;
    height: 600px;
    width: 500px;
    border: 15px solid; 
    border-color: rgb(0, 0, 5); 
    margin-right: 80px;
    border-style: dashed;
    
    }
.right{
    display: flex;
    height: 600px;
    width: 450px;
    border: 15px solid; 
    border-color: rgb(0, 0, 5); 
    margin-left: 200px;
    border-style: dashed;
}
.container{
    padding: 10px;
    margin: 20px;
    display: flex
}
.profile{
    border: 10px solid red;
    height: 200px; width:480px;
    border-style: double;
    display: flex;  
}
.para{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.leftlower{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    font-stretch: expanded;
    font-size: large;
    border: 02px solid;
    border-color: black;
    text-align: justify;
    height: 380px;width: 500px;
    background-color: rgb(21, 35, 243);
}
.audio{
    padding-left: 200px;
padding-top: 18px;
}
.lastbox{
    color: rgb(7, 7, 6);
    padding-bottom: 130px;
    padding-left: 60px;
    height: 320px;width: 1310px;
    border: 15px solid rgb(185, 9, 9);
    background-color: rgb(245, 212, 212);
    display: flex;  
}
.lastpara{
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: black;
}